.btn {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    background-color: #128a5d;
    inset: 0;
    opacity: 0;
    z-index: -1;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    transition: opacity 300ms;
}

.btn:hover::before {
    opacity: 1;
}

.btnSmall {
    padding: 10px;
}

.btnLarge {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    margin-top: 1rem;
}

@media (min-width: 720px) {
    .btnLargeMaxWidth {
        width: 200px;
    }
}
