.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
}

.editInput-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.editInput-wrapper label {
    font-weight: bold;
}

.editInput-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
    width: 60%;
}

.button-wrapper {
    display: flex;
    gap: 1rem;
    width: 25%;
}
