.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.main-nav a {
    font-weight: bold;
    color: #2c3e50;
}

.main-nav a.router-link-exact-active {
    color: #42b983;
}

.main-nav-item,
.main-nav-all-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    /* margin-right: 0.5rem; */
    cursor: pointer;
}

.main-nav-all-item {
    gap: 1rem;
}

.main-nav-item:hover {
    text-decoration: underline;
}

.main-nav-logo {
    display: flex;
    align-items: center;
}

.main-nav-logo-image {
    max-width: 100%;
    width: 200px;
}

@media (max-width: 400px) {
    .main-nav {
        padding: 5px 10px;
    }

    .main-nav-item,
    .main-nav-all-item {
        font-size: 0.8rem;
    }

    .main-nav-all-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}
